@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border-right: none;
}
header .container .menu .top-menu .social-media a {
  color: #433b3b;
  font-size: 1.3rem;
  margin-right: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #DAD9D3;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .bakground-lines {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
  width: 40%;
  height: auto;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 10px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.logos .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-top: 90px;
  margin-bottom: 90px;
}
.logos .container img {
  padding-bottom: 35px;
  display: grid;
}

.features {
  margin-top: 100px;
}
.features .container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .features .container {
    grid-template-columns: 1fr 1fr;
  }
}
.features .container .section-left {
  text-align: center;
}
@media (min-width: 992px) {
  .features .container .section-left {
    text-align: left;
    margin-right: 100px;
  }
}
@media (min-width: 1200px) {
  .features .container .section-left {
    text-align: left;
    margin-right: 140px;
  }
}
.features .container .section-left a {
  text-decoration: none;
  color: #191919;
}
.features .container .section-left a p {
  font-size: 18px;
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.features .container .section-left a h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .features .container .section-left a h3 {
    font-size: 45px;
  }
}
.features .container .section-left a .btn-yellow {
  text-align: center;
  margin-bottom: 70px;
}
.features .container .section-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features .container .section-right a {
  color: #191919;
  text-decoration: none;
}
.features .container .section-right a img {
  padding-bottom: 30px;
}
.features .container .section-right a h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 5px;
}
.features .container .section-right a p {
  color: #707070;
  margin-bottom: 50px;
}

.our-services {
  background-color: #F0EFE9;
  margin-top: 120px;
  position: relative;
}
.our-services .container .title {
  padding-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .our-services .container .title {
    text-align: left;
  }
}
.our-services .container .title p {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.our-services .container .title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .our-services .container .title h2 {
    font-size: 30px;
  }
}
.our-services .container .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .our-services .container .boxes {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .our-services .container .boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.our-services .container .boxes a {
  text-decoration: none;
  color: #191919;
  background-color: #ffffff;
  padding: 30px;
}
.our-services .container .boxes a:hover {
  background-color: #F9D783;
}
.our-services .container .boxes a .streck {
  padding-bottom: 35px;
}
.our-services .container .boxes a h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 15px;
}
.our-services .container .boxes a p {
  color: #707070;
}
.our-services .container .boxes a .pil {
  display: none;
  font-size: 50px;
  display: flex;
  justify-content: end;
  padding-top: 30px;
}
.our-services .container .center-content {
  padding-top: 50px;
  padding-bottom: 120px;
}
.our-services img {
  position: absolute;
  bottom: 0px;
  right: 0;
}

.why-choose-us .container {
  display: flex;
  position: relative;
}
.why-choose-us .container .left .section-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .why-choose-us .container .left .section-title {
    text-align: left;
  }
}
.why-choose-us .container .left .boxes {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .why-choose-us .container .left .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .why-choose-us .container .left .boxes {
    display: block;
  }
}
.why-choose-us .container .left .boxes .box {
  text-decoration: none;
  display: flex;
}
@media (min-width: 1200px) {
  .why-choose-us .container .left .boxes .box {
    text-align: left;
  }
}
.why-choose-us .container .left .boxes .box img {
  margin-right: 25px;
  margin-bottom: 40px;
}
.why-choose-us .container .left .boxes .box h5 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.why-choose-us .container .left .boxes .box p {
  color: #707070;
}
.why-choose-us .container .right {
  display: none;
}
@media (min-width: 1200px) {
  .why-choose-us .container .right {
    display: block;
  }
}
.why-choose-us .container .right .picture {
  padding-top: 150px;
  margin-left: 250px;
}
.why-choose-us .container .bak-picture {
  position: absolute;
  bottom: 50px;
  right: -250px;
  z-index: -1;
  display: none;
}
@media (min-width: 1200px) {
  .why-choose-us .container .bak-picture {
    display: block;
  }
}

.about-company {
  padding-top: 150px;
}
.about-company .container {
  position: relative;
  display: flex;
}
.about-company .container .left {
  display: none;
}
@media (min-width: 1200px) {
  .about-company .container .left {
    display: block;
  }
}
.about-company .container .left .woman {
  margin-left: 60px;
}
.about-company .container .left .white-line {
  position: absolute;
  top: 30px;
  left: 40px;
}
.about-company .container .left .box-on-picture {
  background-color: #BEEBFF;
  position: absolute;
  bottom: 40px;
  width: 370px;
}
.about-company .container .left .box-on-picture .name {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 25px;
}
.about-company .container .left .box-on-picture .name span {
  color: #F94D1C;
  font-size: 16px;
}
.about-company .container .left .box-on-picture .under-name {
  margin-left: 25px;
  margin-bottom: 45px;
  margin-right: 60px;
  padding-top: 20px;
}
.about-company .container .right {
  margin-left: 50px;
}
@media (min-width: 1400px) {
  .about-company .container .right {
    margin-left: 190px;
  }
}
@media (max-width: 1200px) {
  .about-company .container .right {
    text-align: center;
  }
}
.about-company .container .right .text .p-1 {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.about-company .container .right .text h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.about-company .container .right .text .p-2 {
  color: #707070;
  margin-top: 30px;
}
.about-company .container .right .text .p-3 {
  color: #707070;
}
.about-company .container .right .buttons {
  display: flex;
  margin-top: 80px;
}
.about-company .container .right .buttons .btn-black {
  margin-right: 35px;
}
.about-company .container .right .buttons a {
  display: flex;
  align-items: center;
  color: #191919;
  text-decoration: none;
  padding-right: 30px;
}
.about-company .container .right .buttons .intro-button i {
  padding-right: 20px;
  font-size: 50px;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 5px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.yellow-section {
  background-color: #F9D783;
  padding-bottom: 120px;
}
.yellow-section .container .first-part {
  padding-top: 125px;
  text-align: center;
}
@media (min-width: 992px) {
  .yellow-section .container .first-part {
    text-align: left;
  }
}
.yellow-section .container .first-part p {
  color: #F94D1C;
}
@media (min-width: 992px) {
  .yellow-section .container .first-part .h4-a {
    display: flex;
    justify-content: space-between;
  }
}
.yellow-section .container .first-part .h4-a h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
}
@media (max-width: 600px) {
  .yellow-section .container .first-part .h4-a h4 {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  .yellow-section .container .first-part .h4-a h4 {
    margin-bottom: 30px;
  }
}
.yellow-section .container .first-part .h4-a a {
  border: solid 1px black;
  font-weight: 500;
}
.yellow-section .container .team {
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
}
@media (min-width: 600px) {
  .yellow-section .container .team {
    grid-template-columns: auto auto auto auto;
  }
}
.yellow-section .container .team .box img {
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}
.yellow-section .container .team .box .name {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 22px;
  padding-bottom: 5px;
}
.yellow-section .container .center-content {
  padding-top: 20px;
  padding-bottom: 80px;
}
.yellow-section .andra-container {
  background-color: #ffffff;
  padding-top: 50px;
}
.yellow-section .andra-container .center-content {
  display: block;
  text-align: center;
}
.yellow-section .andra-container .center-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F94D1C;
}
.yellow-section .andra-container .center-content h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.yellow-section .andra-container .parent {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .yellow-section .andra-container .parent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.yellow-section .andra-container .parent .child {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .yellow-section .andra-container .parent .child {
    padding-bottom: 25px;
  }
}
.yellow-section .andra-container .parent .child img {
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .yellow-section .andra-container .parent .child img {
    padding-bottom: 30px;
  }
}
.yellow-section .andra-container .parent .child p {
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .yellow-section .andra-container .parent .child p {
    padding-bottom: 25px;
  }
}
.yellow-section .andra-container .parent .child .client {
  display: flex;
}
.yellow-section .andra-container .parent .child .client img {
  padding-right: 20px;
}
.yellow-section .andra-container .parent .child .client .client-info .name {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.yellow-section .andra-container .parent .child .client .client-info p {
  color: #F94D1C;
  font-size: 16px;
  font-weight: 400;
}
.yellow-section .andra-container .center-content {
  padding-top: 70px;
  padding-bottom: 120px;
}

.article-and-news .container .first-part {
  padding-top: 125px;
  text-align: center;
}
@media (min-width: 992px) {
  .article-and-news .container .first-part {
    text-align: left;
  }
}
.article-and-news .container .first-part p {
  color: #F94D1C;
}
@media (min-width: 992px) {
  .article-and-news .container .first-part .h4-a {
    display: flex;
    justify-content: space-between;
  }
}
.article-and-news .container .first-part .h4-a h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
}
@media (max-width: 600px) {
  .article-and-news .container .first-part .h4-a h4 {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  .article-and-news .container .first-part .h4-a h4 {
    margin-bottom: 30px;
  }
}
.article-and-news .container .parent {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
}
@media (min-width: 768px) {
  .article-and-news .container .parent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.article-and-news .container .parent .child {
  text-decoration: none;
}
.article-and-news .container .parent .child img {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}
.article-and-news .container .parent .child p {
  color: #707070;
}
.article-and-news .container .parent .child h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.article-and-news .container .center-content {
  padding-top: 55px;
  padding-bottom: 90px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.newsletter .bakground-lines-right {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: -1;
}
.newsletter .container {
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.newsletter .container h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 25px;
  border: 1px solid #DAD9D3;
  outline: none;
}
.newsletter .container form button {
  margin-top: 30px;
}

.last-section {
  padding-top: 120px;
  background-color: #0E1021;
  border-bottom: 1px solid #B6B7BC;
  position: relative;
}
.last-section .line {
  position: absolute;
  bottom: 0;
  right: 0;
}
.last-section .container {
  color: #B6B7BC;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "logo logo" "box1 box2 " "box3 box4";
  row-gap: 50px;
}
@media (min-width: 1200px) {
  .last-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo box1 box2 box3 box4";
  }
}
.last-section .container .logo {
  grid-area: logo;
  margin-right: 120px;
}
.last-section .container .logo .crito {
  margin-bottom: 40px;
}
.last-section .container .box1 {
  grid-area: box1;
}
.last-section .container .box2 {
  grid-area: box2;
}
.last-section .container .box3 {
  grid-area: box3;
}
.last-section .container .box4 {
  grid-area: box4;
}
.last-section .container .boxes {
  display: grid;
}
.last-section .container .boxes p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.last-section .container .boxes a {
  text-decoration: none;
  color: #B6B7BC;
}

footer {
  background-color: #0E1021;
}
footer .container .the-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .the-foot .crito {
  color: #B6B7BC;
  padding: 30px;
}
footer .container .the-foot .social-media a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 25px;
}
footer .container .the-foot .social-media a:hover {
  color: #B6B7BC;
}

.connect {
  background-color: #F0EFE9;
  padding: 100px;
  position: relative;
  z-index: 0;
}
.connect .container {
  text-align: center;
}
.connect .container a {
  margin-right: 20px;
  text-decoration: none;
  color: #191919;
  font-weight: 300;
}
.connect .container a:hover {
  font-weight: 400;
}
.connect .container p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  z-index: 1;
}
@media (min-width: 570px) {
  .connect .container p {
    font-size: 56px;
  }
}
.connect .line {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.contact-information .container {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  padding-top: 120px;
  padding-bottom: 80px;
}
.contact-information .container .parent {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid #D1D1D1;
}
.contact-information .container .parent img {
  margin-top: 45px;
  margin-right: 25px;
  margin-left: 50px;
}
.contact-information .container .parent .child {
  margin-top: 45px;
  margin-right: 110px;
  margin-bottom: 30px;
}
.contact-information .container .parent .child h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}
.contact-information .container .parent .child p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  margin-top: -10px;
}

.map .karta {
  width: 100%;
  height: 600px;
}