@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html,body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}


.btn-yellow{
    background-color: #F9D783;
    border : 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: #191919;
        border : 1px solid #191919;
        color: #F0EFE9;
    }

}

.btn-black {
    background-color: #191919;
    border : 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: #ffffff;
        border : 1px solid #191919;
        color: #191919;
    }

}

.btn-transparent{
    background-color: transparent;
    border : 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: #191919;
        border : 1px solid #191919;
        color: #F0EFE9;
    }

}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-title{
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}
 


header{

    background-color: #F0EFE9;
    padding: 16px;



    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;


        .menu-bars{
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media ( min-width: 992px ) {
                display: none;
            }
            
        }

        .menu{
            
            display: none;
            flex: 1;

            @media ( min-width: 992px ) {
                display: block;
            }

            .top-menu{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                    
                }


                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        display: flex;
                    }


                    .content-box{
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        i{
                            margin-right: 5px;
                            font-size: 1.2em;
                        }

                        &.last{
                            border-right: none;
                        }
                    }
                    

                }
            
                .social-media{
                    a{  color: #433b3b;
                        font-size: 1.3rem;
                        margin-right: 10px;

                        &:hover{
                            color: #DAD9D3;
                        }
                        
                    }
                }
            }
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                nav{
                    a{
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }
                        &.active::after,      
                        &:hover::after{ 
                            content:'';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        
        }
    }
}

.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;


    .bakground-lines {

        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        width: 40%;
        height: auto;
    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {

            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }


            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }

            }

            p {
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            a {

                margin-right: 10px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }

            }

        }

        img {
            display: none;
            margin-right: -50px;


            @media (min-width: 1200px) {
                display: block;
            }
        }

    }

}

.logos {
    .container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        margin-top: 90px;
        margin-bottom: 90px; 

        img {

            padding-bottom: 35px;
            display: grid;
            margin: auto;

        }
    } 
}

.features {

    margin-top: 100px;

    .container {

        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }
       

        .section-left {

            text-align: center;

            @media (min-width: 992px) {
                
                text-align: left;
                margin-right: 100px;
            }
            @media (min-width: 1200px) {

                text-align: left;
                margin-right: 140px;
            }

            a {

                text-decoration: none;
                color: #191919;

                p {
                    font-size: 18px;
                    color: #F94D1C;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    

                }
                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 35px;
                    margin-bottom: 40px;

                    @media (min-width: 992px) {

                        font-size: 45px;
                    
                    }

                }
                .btn-yellow {

                    text-align: center;
                    margin-bottom: 70px;


                }
            }

        }

        .section-right {

            display: grid;
            grid-template-columns: 1fr 1fr;

            a {
                color: #191919;
                text-decoration: none;
                img {

                    padding-bottom: 30px;
                    
                }

                h5 {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-bottom: 5px;
                }

                p {
                    color: #707070;
                    margin-bottom: 50px;

                }                
            }
        }
    }
}

.our-services {

    background-color: #F0EFE9;
    margin-top: 120px;
    position: relative;
    
    .container {

        .title {

            padding-top: 120px;
            margin-bottom: 30px;
            text-align: center;

            @media (min-width: 992px) {

                text-align: left;
                
            }
            
            p {
                color: #F94D1C;
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;

            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 30px;
                    
                }
            }
        }

        .boxes {

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            @media (max-width: 768px) {

                grid-template-columns: 1fr ;
                
            }

            @media (min-width: 1200px) {

                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        
            a {

                text-decoration: none;
                color: #191919;
                background-color: #ffffff;
                padding: 30px;

                &:hover {
                    background-color: #F9D783;
                }

                .streck {
                    padding-bottom: 35px;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-bottom: 15px;

                }
                
                p {
                    color: #707070;
                }

                .pil {
                    display: none;
                    font-size: 50px;
                    display: flex;
                    justify-content: end;
                    padding-top: 30px;                 
                }
            }
        }

        .center-content {

            padding-top: 50px;
            padding-bottom: 120px;
        }
    } 

    img {

        position: absolute;
        bottom: 0px;
        right: 0;
    }
} 

.why-choose-us {

       .container {

        display: flex;
        position: relative;

        .left {
            
            .section-title {
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                    
                }
            }

            .boxes {

                display: grid;
                grid-template-columns: 1fr;

                @media (min-width: 768px) {
                    
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width: 1200px) {
                    display: block;
                }

                .box {

                    text-decoration: none;
                    display: flex;
    
                    @media (min-width: 1200px) {
                        text-align: left;
                    }
    
                    img {
                        margin-right: 25px;
                        margin-bottom: 40px;
                    }
    
                    h5 {
                        color: #191919;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                    }
    
                    p {
                        color: #707070;
                    }
                }
            }
        }

        .right {
            
            display: none;

            @media (min-width: 1200px) {
                    
                display: block;
            }

            .picture {

                padding-top: 150px;
                margin-left: 250px;

            }
        }

        .bak-picture {          

            position: absolute;
            bottom: 50px;
            right: -250px;
            z-index: -1;

            display: none;

            width: 80%;
            height: auto;

            @media (min-width: 1200px) {
                    
                display: block;
            }

        }
    }
}

.about-company {

            padding-top: 150px;

    .container {  
        position: relative;
        display: flex;

        .left {

            display: none;

            @media (min-width: 1200px) {
                display: block;
                
            }
            .woman {

                margin-left: 60px;
            }

            .white-line {

                position: absolute;
                top: 30px;
                left: 40px;
            }

            .box-on-picture {

                background-color: #BEEBFF;
                position: absolute;
                bottom: 40px;
                width: 370px;

                .name {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 900;
                    font-size: 20px;
                    margin-top: 40px;
                    margin-left: 25px;

                    span {
                        color: #F94D1C;
                        font-size: 16px;
                    }
                }

                .under-name {
                    margin-left: 25px;
                    margin-bottom: 45px;
                    margin-right: 60px;
                    padding-top: 20px;
                }
            }
        }

        .right {

            margin-left: 50px;

            @media (min-width: 1400px) {

                margin-left: 190px;
            }
            @media (max-width: 1200px) {
                text-align: center;
                
            }

            .text {

                .p-1 {

                    color: #F94D1C;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                }

                h2 {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 45px;
                }

                .p-2 {
                    color: #707070;
                    margin-top: 30px;
                }

                .p-3 {

                    color: #707070;
                }
            }

            .buttons {
                display: flex;
                margin-top: 80px;

                .btn-black {

                    margin-right: 35px;
                }

                a {
                    display: flex;
                    align-items: center;
                    color: #191919;
                    text-decoration: none;
                    padding-right: 30px;
                    }

                .intro-button {
                    
                    i {
                        padding-right: 20px;
                        font-size: 50px;
                    }
                }
            }
        }
    }
}

.project-and-case {
    .container{
        .section-title{
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .project {

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3 ;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;


                    i {
                        margin-left: 5px;
                    }

                }

                &:hover .readmore {
                    text-decoration: underline;
                }
            }
        }

        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

.yellow-section {

    background-color: #F9D783;
    padding-bottom: 120px;

    .container {

        .first-part {

            padding-top: 125px;
            text-align: center;

            @media (min-width: 992px) {
                text-align: left;
            }

            p {
                color: #F94D1C;
                
            }

            .h4-a {

                
                @media (min-width: 992px) {
                    
                    display: flex;
                    justify-content: space-between;
                }

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 800;
                    font-size: 45px;
                    
                    @media (max-width: 600px) {
                        
                        font-size: 25px;
                    }

                    @media (max-width: 992px) {
                        margin-bottom: 30px;
                        
                    }
                }
                a {
                    border: solid 1px black;
                    font-weight: 500;

                

                }
            }

        }

        .team {

            padding-top: 100px;
            display: grid;
            grid-template-columns: auto auto ;
            column-gap: 40px;

            @media (min-width: 600px) {
                grid-template-columns: auto auto auto auto;
            }

            .box {

                img {

                    padding-bottom: 30px;
                    width: 100%;
                    height: auto;
                    
                }

                .name {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 800;
                    font-size: 22px;
                    padding-bottom: 5px;
                }
            }
        }

        .center-content {

            padding-top: 20px;
            padding-bottom: 80px;
        }
    }

    .andra-container {

        background-color: #ffffff;
        padding-top: 50px;


        .center-content {

            display: block;
            text-align: center;

            p {

                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: #F94D1C;

            }

            h5 {

                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: 700;
                
            }
        }

        .parent {

            display: grid;
            grid-template-columns: 1fr;

            @media (min-width: 992px) {

                grid-template-columns: 1fr 1fr 1fr;
                
            }
            
            .child {

                margin-left: 50px;
                margin-right: 50px;
                padding-bottom: 50px;

                @media (min-width: 992px) {

                    padding-bottom: 25px;
                    
                }

                img {

                    padding-bottom: 15px;

                    @media (min-width: 992px) {

                        padding-bottom: 30px;
                        
                    }

                }

                p {

                    padding-bottom: 10px;
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 400;

                    @media (min-width: 992px) {

                        padding-bottom: 25px;
                        
                    }
                }

                .client {

                    display: flex;

                    img {

                        padding-right: 20px;
                    }

                    .client-info {

                        .name {

                            font-family: 'DM Sans', sans-serif;
                            font-size: 22px;
                            font-weight: 700;

                        }
    
                        p {
                            
                            color: #F94D1C;
                            font-size: 16px;
                            font-weight: 400;
                        }

                    }

                }
            }
        }

        .center-content {
            padding-top: 70px;
            padding-bottom: 120px;
        }
    }


}

.article-and-news {

    .container {

        .first-part {

            padding-top: 125px;
            text-align: center;

            @media (min-width: 992px) {
                text-align: left;
            }

            p {

                color: #F94D1C;

            }

            .h4-a {

                @media (min-width: 992px) {
                    
                    display: flex;
                    justify-content: space-between;
                }

                h4 {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 800;
                    font-size: 45px;
                    
                    @media (max-width: 600px) {
                        
                        font-size: 25px;
                    }

                    @media (max-width: 992px) {
                        margin-bottom: 30px;
                        
                    }
                }
            }
        }

        .parent {

            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;

            @media (min-width: 768px) {
                
                grid-template-columns: 1fr 1fr 1fr;
            }
            .child {

                text-decoration: none;

                img {

                    padding-top: 40px;
                    padding-bottom: 30px;
                    width: 100%;
                    height: auto;
                    
                }

                p {
                    color: #707070;
                }

                h3 {

                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        .center-content {

            padding-top: 55px;
            padding-bottom: 90px;

        }
    }
}

.newsletter {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .bakground-lines-right {

        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: -1;
    }

    .container {

        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;

        @media (min-width: 992px) {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 80px;
        }

        h2 {

            font-size: 45px;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
        }

        form {
            input {
                color: #191919;
                text-decoration: none;
                padding: 15px 30px;
                font-size: 16px;
                margin-right: 20px;
                border-radius: 25px;
                border: 1px solid #DAD9D3 ;
                outline: none;
            }

            button {

                margin-top: 30px;
            }
        }
    }
}

.last-section {

    padding-top: 120px;
    background-color: #0E1021;
    border-bottom: 1px solid #B6B7BC;
    position: relative;

    .line {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .container {

        color: #B6B7BC;
        padding-bottom: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:    "logo logo"
                                "box1 box2 "
                                "box3 box4";
        row-gap: 50px;
        
        @media (min-width: 1200px) {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "logo box1 box2 box3 box4";
            
        }


    
        .logo {
            grid-area: logo;
            margin-right: 120px;

            .crito {
                margin-bottom: 40px;
            }
        }

        .box1 {
            grid-area: box1;
        }
        .box2 {
            grid-area: box2;
        }
        .box3 {
            grid-area: box3;
        }
        .box4 {
            grid-area: box4;
        }

        .boxes {
            display: grid;

            p {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #ffffff;
            }

            a {
                text-decoration: none;
                color: #B6B7BC;

            }
        }
    }
}

footer {

    background-color: #0E1021;

    .container {

        .the-foot {
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            .crito {
                color: #B6B7BC;
                padding: 30px;
            }

            .social-media{
    
                a {  
                    color:  #ffffff ;
                    font-size: 1.3rem;
                    margin-right: 25px;
    
                    &:hover{
                        color: #B6B7BC;
                    }                    
                }
            }
        }
    }
}

// contact sidan

.connect {

    background-color: #F0EFE9;
    padding: 100px;
    position: relative;
    z-index: 0;

    .container {

        text-align: center;

        a {

            margin-right: 20px;
            text-decoration: none;
            color: #191919;
            font-weight: 300;

            &:hover {

                font-weight: 400;
            }
        }
        
        p {

            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 40px;
            z-index: 1;

            @media (min-width: 570px) {

                font-size: 56px;
                
            }
        }
    }

    .line {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 40%;
        height: auto;

    }
}

.contact-information {

    .container {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px , 390px));
        justify-content: center;
        gap: 25px;
        padding-top: 120px;
        padding-bottom: 80px;

        .parent {

            display: grid;
            grid-template-columns: auto 1fr;
            border: 1px solid #D1D1D1;

            img {
                margin-top: 45px;
                margin-right: 25px;
                margin-left: 50px;
            }

            .child {
                margin-top: 45px;
                margin-right: 80px;
                margin-bottom: 30px;

                h5 {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    margin-bottom: 30px;
                }

                p {

                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    color: #707070;
                    margin-top: -10px;
                }
            }
        }
    }
}

.message {
    
    .container {

        background-color: #F0EFE9;
        margin-bottom: 120px;
        padding-top: 140px;
        justify-content: center;
        align-items: center;


        p {
            text-align: center;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 45px;
            margin-bottom: 0px;
        }

        form {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            



            input {

                outline: none;
                width: 80%;
                margin-top: 15px;
                border: none;
                border-radius: 25px;
                padding: 15px;
                padding-left: 40px;


                &:hover {
                    border: solid 1px black;
                }
               
            }

            textarea {

                outline: none;

                width: 80%;
                margin-top: 15px;
                border-radius: 25px;
                border: none;
                resize: none;
                padding: 15px;
                padding-left: 40px;

                &:hover {
                    border: solid 1px black;
                }
            }

            button {

                width: 80%;
                margin-top: 40px;
                margin-bottom: 100px;
            }

        }

    }
}

.map {

    .karta {
        width: 100%;
        height: 600px;
    }
}



